@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Space Grotesk', sans-serif;
  --white: #f5f5f5;
  --black: #272a2b;
  --space: 'Space Grotesk', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
  --dmsans: 'DM Sans', sans-serif;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

.login {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #f5f5f5;

  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.login label,
.login input,
.login placeholder {
  font-family: 'Space Grotesk', sans-serif;
}

.hero {
  font-family: 'Space Grotesk', sans-serif;
  background: url('/LandingPage.png') no-repeat center center fixed;
  background-size: cover;
  color: var(--white);
  font-family: 'Space Grotesk', sans-serif;
}

.navbar {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: #f5f5f5;
  color: #272a2b;
  letter-spacing: 0.1rem;
}
.navbar h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0 2px var(--color), 0 0 0 4px var(--bgcolor);
}
.btn:active {
  transform: scale(0.95);
}

::selection {
  color: var(--light);
  background: var(--red);
}

.closed-day {
  background-color: #550000;
  color: white;
}

.closed-day:hover {
  background-color: #6d0000 !important;
  color: white !important;
}

.closed-day:enabled:focus {
  background-color: #8a0000 !important;
  color: white;
}

.loginPage {
  min-height: 100vh;
  max-height: 100vh;
  background-color: hsla(199, 97%, 45%, 1);
  background-image: radial-gradient(at 20% 0%, rgb(228, 247, 242) 5px, transparent 50%);
}

.hers {
  background: conic-gradient(
    at center top,
    rgb(34, 211, 238),
    rgb(14, 165, 233),
    rgb(255, 255, 255)
  );
}

input {
  height: 35px !important;
  padding-left: 20px;
  border: 1px solid #d1d1d1;
  width: 100%;
}
Input:focus {
  outline: none !important;
  border: #494949;
}
input:focus {
  outline: none !important;
  border: #494949;
}

.bottomNav {
  position: relative;
  width: 100%;
  background-color: var(--black);
  height: 100%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
}

li {
  color: var(--white);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  color: #50ddfc;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: underline;
  scale: 1.2;
  transition: 0.2s;
  font-weight: 600;
}

.iconText {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
